.login {
  background-color: #1e99ff;
  transition: background-color 0.3s;
}

.login:hover {
  background-color: #1e90ff;
}

.login:active {
  background-color: #0000cd;
}

.signup {
  background-color: #3eb489;
  transition: background-color 0.3s;
}

.signup:hover {
  background-color: #3eb493;
}

.signup:active {
  background-color: #3eb493;
}

.home {
  background-color: #66cccc;
  transition: background-color 0.3s;
}

.home:hover {
  background-color: #99dddd;
}

.home:active {
  background-color: #ccffff;
}

.update_profile {
  background-color: #eaa000;
  transition: background-color 0.3s;
}

.update_profile:hover {
  background-color: #ffa500;
}

.update_profile:active {
  background-color: #ff6347;
}
