.login {
  background-color: #006666;
  transition: background-color 0.3s;
}

.login:hover {
  background-color: #008888;
}

.login:active {
  background-color: #008888;
}

.signup {
  background-color: #3eb489;
  transition: background-color 0.3s;
}

.signup:hover {
  background-color: #3eb493;
}

.signup:active {
  background-color: #3eb493;
}

.home {
  background-color: #66cccc;
  transition: background-color 0.3s;
}

.home:hover {
  background-color: #99dddd;
}

.home:active {
  background-color: #ccffff;
}
